.nav-area {
    background: black;
}


.ml-auto.navbar-nav {
    text-transform: uppercase;
    font-weight: 500;
}

a.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav a {
    padding: 1rem 2rem !important;
    color: white !important;
}

.nav-area .active {
    color: #7851EA !important;
}

.navbar-nav a:hover {
    color: #7851EA !important;
    transition: .5s all ease-in;
}